{% include 'base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <body>
<html>
<body background="http://aestudios.ca/flash_aeBackground.jpg">
  </body>
</html>


  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <center><h1><font face="courier"><font color="red">Welcome!</font></font></h1></center>
        <p><center><h3><font color="black">I am Shayna Roseborough, I design.</font></h3></center></p>
          <h3><center><font color="black">Take a closer look I think you'll like it.</font></center></h3>
        <p><center><a href ="/about" class="btn btn-primary btn-lg"role="button">About me &raquo;</a></center></p>





      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->

      <div class="row section">
        <div class="col-lg-12">

{#          <h1>A Full Width Image Slider Template</h1>#}
{#          <p>This is a great starting point for yet another modern and stylish website. Here are some things to consider when working with this template:</p>#}
{#          <ul>#}
{#                  <li>Unique Fonts</li>#}
{#                  <li>Attractive Colors</li>#}
{#                  <li>Content Spacing for Legibility and Design</li>#}
{#                  <li>Decent Pictures that Still Load Quickly (less than 400KB for example)</li>#}
{#                  <li>Make the Pictures INFORMATIVE</li>#}
{#                  <li>Custom Styling for the Captions</li>#}
          </ul>
        </div>
      </div>
{##}
{#      <hr>#}

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Company 2013</p>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->

    <!-- JavaScript -->
{#    <script src="js/jquery-1.10.2.js"></script>#}
    <script src="/static/js/bootstrap.min.js"></script>


  </body>
</html>






















